
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
     background-color: black;
    color: #ffffff;
}

.form-section hr {
    background-color: #4c4a4a;
    margin-top: 2rem;
    margin-bottom: 2rem;
    height: 1px;
    border: none;
    width: 90%;
}

.login-container {
    padding: 6rem;
    padding-bottom: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(10deg , black , rgb(72,71,71));
    padding: 2rem;
    padding-top: 0; 
}

.form-section {
    background-color: #181818;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 400px;
    text-align: center;
    padding: 9rem;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form label {
    text-align: left;
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
}

.login-form input {
    max-width: 95%;
    padding: 0.8rem;
    margin-bottom: 1.5rem;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    background-color: #282828;
    color: #ffffff;
    outline: 2px solid rgb(109, 108, 108);
}

.login-form input:hover{
    outline:2px solid rgb(200, 199, 199);
}

.login-form input:focus {
    outline: 2px solid #ffffff;
}


.login-form button {
    margin-left: 10%;
    max-width: 80%;
    padding: 0.8rem;
    background-color: #2db25c;
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 25px;
    font-size: 1rem;
    cursor: pointer;
    transition:background-color 0.3s ease;
}

.login-form button:hover {
    transform: scaleX(1.05);
    background-color: #37cf6c;
}

p {
    margin-top: 2rem;
}

p a {
    color: #bbbbbb;
    text-decoration: none;
    transition: color 0.3s ease;
}

p a:hover {
    color: #ffffff;
}
