.books-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
  }
  
  .book {
    width: calc(16.66% - 20px); 
    margin-bottom: 20px;
    text-align: center;
  }
  
  .book img {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  .book-info {
    margin-top: 10px;
    color: white;
  }
  