.wrapper{
    min-height: 100vh;
    min-width: 100vw;
}

.signup-container {
    margin-top: 10%;
    color: white;
    width: 100%;
    max-width: 400px;
    margin-bottom: 40%;
    padding: 30px;
    border-radius: 8px;
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  .progress-bar {
    height: 4px;
    background-color: #5bee22;
    border-radius: 2px;
    overflow: hidden;
    margin-bottom: 10px;
  }
  
  .progress {
    height: 100%;
    background-color: #1db954;
  }
  
  .signup-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .signup-header i {
    color: #1db954;
    cursor: pointer;
  }
  
  .signup-header p {
    font-size: 14px;
    color: #b3b3b3;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .input-group {
    position: relative;
    margin-bottom: 20px;
  }
  
  input[type="password"] {
    width: 100%;
    padding: 10px;
    background-color: #282828;
    color: white;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s ease;
  }
  
  input[type="password"].invalid {
    border-color: #e74c3c;
  }
  
  .input-group i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #b3b3b3;
    cursor: pointer;
  }
  
  .password-rules {
    text-align: left;
    margin-bottom: 20px;
  }
  
  .password-rules ul {
    list-style-type: none;
    padding: 0;
  }
  
  .password-rules li {
    font-size: 14px;
    color: #b3b3b3;
    margin-bottom: 10px;
  }
  
  .password-rules li.valid {
    color: #1db954;
  }
  
  .next-button {
    font-weight: bold;
    background-color: #1db954;
    width: 70%;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .next-button.disabled {
    background-color: #b3b3b3;
    cursor: not-allowed;
  }  
  .next-button:hover {
    background-color: #1ed760;
  }
  
  .input-field label{
    font-size: 16px;
  }